.header {
    width: 100%;
    box-sizing: border-box;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0 5%;
    box-shadow: 0 0 0 1px lightgrey;
}
  
.logo {
    width: 50%;
    height: 100%;
}

.business-span {
    white-space:nowrap;
}
  
.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}
  
.header li {
    margin-left: 3rem;
}
  
.header a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #008cbb;
}
  
.header a:hover,
.header a:active,
.header a.active {
    color: #61dae2;
}
  
.badge {
    background-color: #008cbb;
    color: white !important;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
}

.badge:hover {
    background-color: #61dae2;
}